<app-nav></app-nav>

<div class="container flex" style="margin-top: 75px">
  <ul class="navbar-nav marginR">
    <li class="nav-item category">
      <a class="nav-link" (click)="getAllProducts()">All</a>
    </li>
    <li class="nav-item category">
      <a class="nav-link" (click)="getProducts('laptops')">Laptops</a>
    </li>
    <li class="nav-item category">
      <a class="nav-link" (click)="getProducts('cellPhones')">CellPhones</a>
    </li>
    <li class="nav-item category">
      <a class="nav-link" (click)="getProducts('apparell')">Apparell</a>
    </li>
    <li class="nav-item category">
      <a class="nav-link" (click)="getProducts('electronics')">Electronics</a>
    </li>
  </ul>
  <ul>
    <li class="product" *ngFor="let product of products">
      <img src="{{ product.image }}" />
      <div class="productContent">
        <div class="price">{{ product.price }}&nbsp;TL</div>
        <h4>{{ product.productName }}</h4>
        <div>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo
          officiis quibusdam sunt, consequatur enim sapiente sequi iste?
          Temporibus odit, dignissimos architecto reiciendis ipsa quas, ad
          quibusdam voluptatum, ipsam nisi possimus.
        </div>
      </div>
    </li>
  </ul>
</div>
